.list_details .coins * {font-size: 1.2em; text-align: center; }
.list_details .coins{ float: left; margin-bottom: 10px; height: 210px; background-color: white; overflow: hidden;margin-right:10px; padding-right: 8px;width: 300px;}
.list_details #ethereum-classic{height: 230px;}
.list_details .coins br{line-height: 0.3em;}
.list_details .sparkline{position: relative; top: -28px; background-color: white;}
.list_simple .coins{ float: left; margin-bottom: 10px; margin-right: 20px; height: 143px;}
.list_simple .coins .coinmarketcap-currency-widget div div:last-child{ display: none;}
.list_simple .coins .coinmarketcap-currency-widget div{line-height:29px!important; float: left!important; }
.list_simple .coins .coinmarketcap-currency-widget{}
.list_simple .coins .coinmarketcap-currency-widget div{width: auto!important; min-width:150px!important;}
.list_simple .coins span span, .list_simple .coins span { width: 170px; float: left;}
.list_simple #tijd{width: 170px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding-top: 23px; line-height: 30px;font-size: 1.3em;}
.coins .coinmarketcap-currency-widget div {border: none!important;}

.list_simple .coins *, .list_simple .graphic * {font-size: 1.5em; text-align: center;}

.list_simple .graphic, .list_simple .coins, .list_details .coins{border-radius: 10px; border: 2px solid #E4E6EB;}
.list_simple .graphic{ padding: 8px;float: left; margin-bottom: 10px; margin-right: 20px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1em; width: 388px; }
.list_simple .graphic_info {float: left;}

H1,.list_simple .graphic_info, .list_simple #tijd {color:#3d6588;}

.list_simple .graphic .coin_name{color: rgb(66, 139, 202); width: auto; float: left; text-align: right;padding: 8px 0 0 10px}
.list_simple .graphic .coin_graphic{ border: 1px solid #E4E6EB;float: right}

.list {margin: auto; width: 85%;}
.list . coins{ width: auto;}

@media only screen and (max-width: 500px) {
  .list_simple .coins * { border: none !important; font-size: 2.3em;}
  .list_simple .coins .coinmarketcap-currency-widget div{line-height:32px!important;  }

}


H1{text-align: center; }
/*H1 span{font-size: 70%!important;*/

.stuklist_details .coins .coinmarketcap-currency-widget div:first-of-type div:last-child{ display: none;}

.nav{ margin-bottom: 10px;}
  }
