.list_details .coins * {font-size: 1.3em; text-align: center;}
.list_details .coins{ float: left; margin-bottom: 6px; height: 158px; background-color: white; }
.list_simple .coins{ float: left; margin-bottom: 10px; margin-right: 20px; height: 143px;}
.list_simple .coins .coinmarketcap-currency-widget div div:last-child{ display: none;}
.list_simple .coins .coinmarketcap-currency-widget div{line-height:29px!important; float: left!important;  }
.list_simple .coins .coinmarketcap-currency-widget{}
.list_simple .coins .coinmarketcap-currency-widget div{width: auto!important; min-width:150px!important;}
.list_simple .coins span span, .list_simple .coins span { width: 170px; float: left;}
.list_simple .coins * { border: none !important; font-size: 1.5em; text-align: center;}

.list_simple .graphic{ float: left; margin-bottom: 10px; margin-right: 20px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.5em; width: 250px;}
.list_simple .graphic .coin_graphic, .list_simple .graphic .coin_name{float: left;}
.list_simple .graphic .coin_graphic{}
.list_simple .graphic .coin_name{color: rgb(66, 139, 202);margin-right: 15px;}

.list {margin: auto; width: 90%;}
.list . coins{ width: auto;}

@media only screen and (max-width: 500px) {
  .list_simple .coins * { border: none !important; font-size: 2.3em;}
  .list_simple .coins .coinmarketcap-currency-widget div{line-height:32px!important;  }

}


H1{text-align: center; }
H1 span{font-size: 70%!important;

.stuklist_details .coins .coinmarketcap-currency-widget div:first-of-type div:last-child{ display: none;}

.nav{ margin-bottom: 10px;}
  }
