
.list_details .coins{ float: left; margin-bottom: 6px; height: 158px; background-color: white; width: 350px;}
.list_simple .coins{ float: left; margin-bottom: 10px; height: 110px;}
.list_simple .coins .coinmarketcap-currency-widget div div:last-child{ display: none;}
.list_simple .coins .coinmarketcap-currency-widget div{line-height:25px!important; float: left!important;margin-left:8px;  }
.list_simple .coins .coinmarketcap-currency-widget{width: 250px;}
.list_simple .coins .coinmarketcap-currency-widget div{width: 210px;}
.list_simple .coins * { border: none !important;}

.coins * {font-size: 1.3em;}
H1{text-align: center; }
H1 span{font-size: 70%!important;

.stuklist_details .coins .coinmarketcap-currency-widget div:first-of-type div:last-child{ display: none;}

.nav{ margin-bottom: 10px;}
  }
